.sidebar-main {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: var(--gray);
	border-radius: 5px;
	color: var(--blue);
	position: fixed;
	top: 150px;
	left: 5%;
	height: 400px;
}
.sidebar-main div {
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 18px;
	background: var(--gray);
}

.active {
	color: var(--tomato);
}

@media only screen and (max-width: 768px) {
	.sidebar-main {
		flex-direction: row;
		position: relative;
		height: auto;
		left: 0;
		top: 0;
		/* z-index: -5; */
	}
}
